<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bröstvårta</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/logo.jpg') }}" >
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mes_styles.css') }}" >
    {% endblock %}
{% block javascripts_head %}
{% endblock %}
</head>
<body>
{% include('admin/_nav_admin.html') %}
<div class="container  container-md">
{% block body %}
    <h3 style="color: red">Bonjour {{ session['login'] }}, bienvenue sur la page administrateur de <span style="color: black;">Bröstvårta</span></h3>
    <div style="position: relative; margin-left: 20em;">
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="" style="max-width: 500px; border-radius: 300px; position: relative;">
        <br><br>
        <h1 style="color: black;position: relative; margin-left: 3.7em; text-decoration: underline;">Bröstvårta</h1>
        <p style="position: relative; margin-left: 4em;">Le site de sport pour l'exception (enfin presque)</p>
    </div>
    {% endblock %}
</div>
{% block javascripts %}
    <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.js') }}" ></script>
    <script src="{{ url_for('static', filename='assets/js/perso_admin.js') }}" ></script>
{% endblock %}
</body>
</html>

