{% extends 'admin/layout_admin.html' %}

{% block title %}
<title>afficher les types d'article</title>
{% endblock %}

{% block body %}
<h3>Déclinaison et/ou type d'article (catégorie)</h3>
<a class="btn btn-outline-success" href="/admin/type-article/add">ajouter un type d'article</a>
<br><br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>designation</th>
            <th>(id_categorie_sport)</th>
            <th>nombre d'articles</th>
            <th>opération</th>
        </tr>
    </thead>
    <tbody>
        {% if types_article | length >= 1 %}
        {% for ligne in types_article %}
        <tr>
            <td>{{ ligne.libelle_categorie_sport }}</td>
            <td>{{ ligne.id_categorie_sport }}</td>
            {% if ligne.nb_equipement == None %}
            <td><span style="color: red">Aucun équipement</span></td>
            {% else %}
            <td><span style="color: rgb(0, 156, 34)">{{ ligne.nb_equipement }}</span></td>
            {% endif %}
            <td>
                <a class="btn btn-outline-danger"
                    href="/admin/type-article/edit?id_type_article={{ ligne.id_categorie_sport }}">editer</a>&nbsp;
                <a class="btn btn-outline-warning"
                    href="/admin/type-article/delete?id_type_article={{ ligne.id_categorie_sport }}">supprimer</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>
                pas de type d'article
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}