<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bröstvårta</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/logo.jpg') }}">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mes_styles.css') }}">
    {% endblock %}
</head>

<body>

    {% include('auth/_nav.html') %}

    <div class="container">
        {% block body %}
        <br>
        <br>
        <div style="position: relative; margin-left: 20em;">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="" style="max-width: 500px; border-radius: 300px; position: relative;">
            <br><br>
            <h1 style="color: black;position: relative; margin-left: 3.7em; text-decoration: underline;">Bröstvårta</h1>
            <p style="position: relative; margin-left: 4em;">Le site de sport pour l'exception (enfin presque)</p>
        </div>
        <div style="position: relative; margin-left: 30em;">
            <button class="btn btn-lg btn-primary mt-4"><a href="/base/init" style="color: aliceblue; text-decoration: none;">init</a></button>
            <button class="btn btn-lg btn-primary mt-4""><a href="/client/article/show" style="color: aliceblue; text-decoration: none;">show</a></button>
        </div>
        {% endblock %}
    </div><!-- /.container -->

    {% block javascripts %}
    <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.js') }}"></script>
    {% endblock %}

</body>

</html>